<div class="pages">
    <div data-page="search" class="page navbar-fixed">
        <div class="navbar search-header">
            <div class="navbar-inner">
                <div class="center sliding">
                    <input class="navbar-search-input" type="search" name="wd" placeholder="搜索商品" />
                </div>
                <div class="right">
                    <a href="#" class="back link"><span>取消</span></a>
                </div>
            </div>
        </div>
        <div id="search_content" class="page-content">

        </div>
    </div>
</div>