<div class="pages">
    <div data-page="goods_details" class="page no-tabbar">
    	<div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link"><i class="icon icon-back"></i><span>返回</span></a>
                </div>
                <div class="center sliding">商品列表</div>
            </div>
        </div>
        <div id="goods_details_content" class="page-content">
                11
        </div>
    </div>
</div>    
