<div class="pages">
    <div data-page="goods_list" class="page navbar-fixed with-subnavbar goods-navba-fixed">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link" style="padding-right: 10px;">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="center sliding">
                    <input class="navbar-search-input" type="search" name="wd" placeholder="搜索商品" />
                </div>
                <div class="right">
                    <a href="#" class="link open-popover" data-popover=".popover-quick-menu">
                        <img src="img/point.png" style="width: 26px;" />
                    </a>
                </div>
            </div>
            <div id="goods_filter_bar" class="subnavbar goods-sub-navBar">
                <span id="goods_cate" class="item flex flex-center flex-col-center" data-type="cate" data-cateid="0" data-subcateid="0">
                    <em class="ell cate">全部分类</em>
                    <i class="icon-caret"></i>
                </span>
                <span id="goods_sort" class="item" data-type="sort"  data-sort="0">
                    <em>综合排序</em>
                    <i class="icon-caret"></i>
                </span>
                <span class="item-icon flex">
                    <a class="link" id="goods_list_view" data-list="1">
                        <img src="img/one_list.png"/>
                    </a>
                    <a class="link">
                        <img src="img/filter.png"/>
                    </a>
                </span>
            </div>
        </div>
        <div id="goods_list_content" class="page-content hide-navbar-on-scroll"></div>
    </div>
</div>

