<div class="pages">
    <div data-page="symptom" class="page navbar-fixed symptom-navbar-fixed">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link" style="padding-right: 10px;">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <a class="center sliding" href="view/search.html">
                    <input class="navbar-search-input" type="search" name="wd" placeholder="搜索商品" readonly />
                </a>
                <div class="right">
                    <a href="#" class="link open-popover" data-popover=".popover-quick-menu">
                        <img src="img/point.png" style="width: 26px;" />
                    </a>
                </div>
            </div>
            <div class="subnavbar symptom-sub-navBar">
                <div class="tab-list flex">
                    <a href="#symptom_crowd" class="tab-link flex-col active">典型人群</a>
                    <a href="#symptom_department" class="tab-link flex-col">科室分类</a>
                </div>
            </div>
        </div>
        <div id="symptom_content" class="page-content">

        </div>
    </div>
</div>